{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<br />
<h1 style="text-align: center">This is the account page.</h1>
<br />
<h3 style="text-align: center">Hi, {{user.first_name}} {{user.last_name}}.</h3>
<br />
<p>Notes for tomorrow:</p>
<ul>
    <li>Make a selector menu thing to select a major.</li>
    <li>
        Make a thing like the notes to add minors. (maybe do this for majors too
        bc double majors)
    </li>
    <li>
        Make a thing like the notes to add courses taken. Stores these in the
        database
    </li>
    <li>
        Look at DegreeWorks to see the general vibe of the website and emulate
        that.
    </li>
</ul>
{% endblock %}
