{% extends "base.html" %} {% block title %}Account{% endblock %} {% block
content%}
<!-- Description: -->
<!-- Account page will collect all needed data on user, displaying only what is necessary for -->
<!-- the user to verify that the information collected is correct. The heavy-duty data processing -->
<!-- and functionality will go on another page (maybe the home page), but this will be the place  -->
<!-- to configure your profile so that the home page or whatever can perform other functions -->

<!-- Account Page Heading -->
<h1 style="text-align: center; padding: 25px 0px">Account</h1>

<!-- Table with General Info -->
<section class="account-table">
    <ul class="list-group list-group-flush" id="notes">
        <li class="list-group-item">
            <strong>Name: </strong>{{user.first_name + " " + user.last_name}}
        </li>
        <li class="list-group-item"><strong>CWID: </strong>{{ user.cwid }}</li>
        <li class="list-group-item">
            <strong>Major: </strong>{{ user.major }}
            <!-- Delete Major button (display only if major is set) -->
            {% if user.major != 'None' %}
            <button type="button" class="close" onClick="deleteMajor()">
                <span aria-hidden="true">&times;</span>
            </button>
            {% endif %}
        </li>
        <li class="list-group-item">
            <strong>Credits Taken: </strong>{{ user.credits_taken }}
        </li>
        <li class="list-group-item">
            <strong>Class Standing: </strong>{{ user.class_standing }}
        </li>
        <li class="list-group-item">
            <strong>Degree Progress: </strong>change me
        </li>
    </ul>
</section>

<!-- Set Major Form -->
<section class="account-major-form-section">
    <form method="POST">
        <!-- Only display if Major has not been set yet -->
        <h3 align="center">Set your Major:</h3>
        <div class="form-group set-major-form">
            <label for="department">Major</label>
            <select
                name="major"
                id="major"
                class="form-control form-control-sm"
                aria-label=".form-select-sm example"
                size="1"
            >
                <option selected value="None">Select Your Major</option>
                <option value="Computer Science">Computer Science</option>
                <option value="Chemistry">Chemistry</option>
                <option value="Civil Engineering">Civil Engineering</option>
                <option value="Physics">Engineering Physics</option>
            </select>
        </div>
        <div align="center">
            <button type="submit" class="btn btn-primary">Set Major</button>
        </div>
    </form>
</section>

<section class="courses-section">
    <!-- Display courses taken (if you've included any) -->
    {% if user.courses %}
    <h3 align="center">Courses Taken:</h3>
    <ul
        class="list-group list-group-flush courses-taken-list"
        id="notes_titles"
    >
        <li class="list-group-item courses-taken-column-names">
            <div class="row">
                <div class="col-sm-2">Department/CN</div>
                <div class="col-md-7">Course Name</div>
                <div class="col-sm-2">Credit Hours</div>
                <div class="col-sm-1"></div>
            </div>
        </li>
    </ul>
    {% endif %}

    <ul class="list-group list-group-flush courses-taken-list" id="notes">
        {% for course in user.courses %} {% if course.is_taken == "True" %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-2">
                    {{course.department}}{{course.course_number}}
                </div>
                <div class="col-md-7">{{course.course_name}}</div>
                <div class="col-sm-2">{{course.credit_hours}}</div>
                <div class="col-sm-1">
                    <button
                        type="button"
                        class="close"
                        onClick="deleteCourse({{ course.id }})"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </li>
        {% endif %} {% endfor %}
    </ul>
    <br />

    <!-- Form to add new courses -->
    <form method="POST">
        <h3 align="center">Add a Course You've Taken:</h3>
        <div class="form-group">
            <label for="department">Department</label>
            <input
                type="text"
                class="form-control"
                id="department"
                name="department"
                placeholder="Enter the course's department (ex. CSCI)"
            />
        </div>
        <div class="form-group">
            <label for="course_number">Course Number</label>
            <input
                type="text"
                class="form-control"
                id="course_number"
                name="course_number"
                placeholder="Enter the course's course number (ex. 101)"
            />
        </div>
        <div align="center">
            <button type="submit" class="btn btn-primary">Add Course</button>
        </div>
    </form>
</section>

<!-- Remove these later, just adding extra margin to the bottom of the page for better styling -->
<div class="margin-below-page"></div>
<div class="margin-below-page"></div>

{% endblock %}
