{% extends "base.html" %} {% block title %}Account{% endblock %} {% block
content%}
<br />
<h1 style="text-align: center">Hi, {{user.first_name}} {{user.last_name}}.</h1>
<br />

<h2>Current major: {{ user.major }}</h2>
<h2>Credit Hours Taken: {{user.credits_taken}}</h2>
<br />

<div class="account-section">
    <!-- Major -->
    <form method="POST">
        <!-- Only display if Major has not been set yet -->
        <h3 align="center">Set your Major:</h3>
        <div class="form-group">
            <label for="department">Major</label>
            <input
                type="text"
                class="form-control"
                id="major"
                name="major"
                placeholder="Enter your major"
            />
        </div>
        <div align="center">
            <button type="submit" class="btn btn-primary">Set Major</button>
        </div>
    </form>
    <!-- Delete Major button -->
    <button type="button" class="close" onClick="deleteMajor()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<section class="courses-section">
    <!-- Display courses taken (if you've included any) -->
    {% if user.courses %}
    <h3 align="center">Courses Taken:</h3>
    <ul
        class="list-group list-group-flush courses-taken-list"
        id="notes_titles"
    >
        <li class="list-group-item courses-taken-column-names">
            <div class="row">
                <div class="col-sm-2">Department/CN</div>
                <div class="col-md-7">Course Name</div>
                <div class="col-sm-2">Credit Hours</div>
                <div class="col-sm-1"></div>
            </div>
        </li>
    </ul>
    {% endif %}

    <ul class="list-group list-group-flush courses-taken-list" id="notes">
        {% for course in user.courses %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-2">
                    {{course.department}}{{course.course_number}}
                </div>
                <div class="col-md-7">{{course.course_name}}</div>
                <div class="col-sm-2">{{course.credit_hours}}</div>
                <div class="col-sm-1">
                    <button
                        type="button"
                        class="close"
                        onClick="deleteCourse({{ course.id }})"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <br />

    <!-- Form to add new courses -->
    <form method="POST">
        <h3 align="center">Add a Course You've Taken:</h3>
        <div class="form-group">
            <label for="department">Department</label>
            <input
                type="text"
                class="form-control"
                id="department"
                name="department"
                placeholder="Enter the course's department (ex. CSCI)"
            />
        </div>
        <div class="form-group">
            <label for="course_number">Course Number</label>
            <input
                type="text"
                class="form-control"
                id="course_number"
                name="course_number"
                placeholder="Enter the course's course number (ex. 101)"
            />
        </div>
        <div align="center">
            <button type="submit" class="btn btn-primary">Add Course</button>
        </div>
    </form>
</section>

<div class="margin-below-page"></div>

{% endblock %}
