{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<br />
<h1 style="text-align: center">Welcome, {{user.first_name}}.</h1>

<section class="semester-form-section">
    <h3 align="center">Semesters</h3>
    <ul class="list-group list-group-flush courses-taken-list" id="notes">
        {% for semester in user.semesters %}

        <li class="list-group-item semester-row">
            <div class="row">
                <div class="col" align="center">
                    Semester {{semester.semester_number}}
                    <button
                        type="button"
                        class="close"
                        onClick="deleteSemester({{ semester.id }})"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <!-- For each course in the semester, render it as a row -->
            {% for course in semester.courses %}
            <div class="row">
                <div class="col-sm-2">
                    {{course.department}}{{course.course_number}}
                </div>
                <div class="col-md-7">{{course.course_name}}</div>
                <div class="col-sm-2">{{course.credit_hours}}</div>
                <div class="col-sm-1">
                    <button
                        type="button"
                        class="close"
                        onClick="deleteCourse({{ course.id }})"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            {% endfor %}
        </li>
        {% endfor %}
    </ul>

    <!--  Form to add new semester to user -->
    <button
        type="button"
        class="btn btn-primary add-semester-btn"
        onClick="addSemester()"
    >
        <span aria-hidden="true">Add Semester</span>
    </button>
</section>

{% endblock %}
