:root {
    --very-light-blue: #f5f6fb;
    --darker-color: #e4e6f0;
}

body {
    background-color: var(--darker-color);
}

.navbar-title {
    /* border-right: 1.5px solid #515662; */
    border-right: #515662 0px solid;
    transition-duration: 300ms !important;
}

.nav-item-padding {
    padding-left: 28px !important;
    padding-right: 28px !important;
}

.nav-item-padding:hover {
    transition-duration: 400ms !important;
}

.margin-below-page {
    margin-bottom: 80px;
}

/* For debugging */
.bounds {
    border: 1px solid red;
}

.container {
    align-self: center;
    justify-self: center;
}

.center-items {
    align-items: center;
    justify-items: center;
}

body {
    display: flex;
    flex-direction: column;
}

#main-container {
    padding-top: 30px;
    margin: auto !important ;
    align-self: center;
    justify-self: center;
}

.border-bottom {
    /* text-decoration: underline #515662; */
    border-bottom: #515662 1px solid;
}

span.x {
    align-self: center;
    justify-self: center;
    margin: auto;
}

.account-major-form-section {
    padding: 22px;
    border-radius: 12px;
    background-color: var(--very-light-blue);
    margin-bottom: 18px;
}

.courses-section {
    padding: 22px;
    border-radius: 12px;
    background-color: var(--very-light-blue);
}

.account-table {
    padding: 22px;
    border-radius: 12px;
    background-color: var(--very-light-blue);
    margin-bottom: 18px;
}

.semester-form-section {
    padding: 22px;
    border-radius: 12px;
    background-color: var(--very-light-blue);
    margin-bottom: 18px;
}

.courses-taken-list {
    margin-top: 16px;
}

.courses-taken-column-names .row :not(:last-child) {
    border-left: 1px solid #515662;
}

.courses-taken-column-names .row :first-child {
    /* border-right: 1px solid #515662; */
    border-left: none;
}

/* Medium Screens and Wider */
@media screen and (min-width: 576px) {
    #main-container {
        width: 72%;
    }

    /* .navbar-title {
        border-right: 1.5px solid #515662;
    } */
}

/* Large Screens and Wider */
@media screen and (min-width: 992px) {
    .navbar-title {
        border-right: #515662 2px solid;
        transition-duration: 300ms !important;
    }
}

@media screen and (min-width: 1200px) {
    .set-major-form {
        /* width: 65%;
        margin: auto;
        margin-bottom: 20px; */
    }
}
